* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.background {
    box-shadow: 0 1px 15px 0 gray;
}

.shopping-list {

    padding-bottom: 10px;
    font-size: 18px;
    font-family: 'Gochi Hand', cursive;
    max-width: 85%;
    margin: auto;

}

.shopping-list div {
    margin-bottom: 10px;
    margin-top: 15px;
    border-bottom: 1px solid lightgray;

    font-size: 22px;
}

.shopping-list div:last-child {
    border-bottom: none;
}

.input {
    font-family: 'Gochi Hand', cursive;
}

h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 30px;
}

input {
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px 0;
    font-size: 20px;
    border: 1px solid lightgray;
}

.send {
    width: 260px;
    height: 60px;
    color: white;
    border-radius: 4px;
    width: 100%;
    background: #4CAF50;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding: 15px 0px;
    margin: 30px 0;
}

.delete {
    color: red;
    float: right;
    cursor: pointer;
}

.check {
    color: green;
    float: right;
    margin-right: 15px;
    cursor: pointer;
}

.recipes {
    color: #333;
    float: right;
    cursor: pointer;
    margin-right: 15px;
}

.checked {
    text-decoration: line-through;
    color: gray;
}

img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 50px;
}

.container {
    position: relative;
    text-align: center;

}

.centered {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    text-shadow: 1px 1px 2px gray;
    font-size: 50px;
    color: white;
    font-family: 'Cabin Sketch', cursive;
}

.tutorial,
.color-blind,
.normal-color {
    width: 260px;
    height: 60px;
    border: 2px solid #C6CCD7;
    color: #00BCD4;
    border-radius: 4px;
    float: right;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding: 15px 0;
    margin-right: 10px;
    margin-top: 8px;
}

.normal-color {
    display: none;
}

.tutorial:hover, .color-blind:hover, .normal-color:hover {
    background-color: #00BCD4;
    color: white;
}

.fa-heart {
    color: red;
}

.recipe-img {
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.recipe-link {
    display: block;
    width: 200px;
    word-wrap: break-all;
    white-space: pre-line;
    font-size: 15px;
    color: #00BCD4;
}

.recipes-container {
    max-width: 95%;
    margin: auto;
    padding-bottom: 20px;
    white-space: nowrap;
    overflow: auto;
}

.recipe {
    display: inline-block;
    padding-right: 20px;
}

hr {
    height: 2px;
    background-color: lightgray;
    border-style: none;
    max-width: 100%;
    box-shadow: 0 0 1px 0 gray;
    margin-top: 50px;
}

h2 {
    font-family: 'Cabin Sketch', cursive;
}

/*when screen gets larger than 580px*/

@media only screen and (min-width: 580px) {
    .shopping-list {
        max-width: 85%;
    }

    .centered {
        top: 40%;
        font-size: 5vw;
    }

    .color-blind, .normal-color {
        margin-bottom: 10px;
    }

    .container {
        font-size: 20px;
    }
}

/*when screen gets smaller than 580px*/

@media only screen and (max-width: 580px) {

    .shopping-list {
        max-width: 85%;
    }

    .shopping-list div {
        font-size: 18px;
    }

    .centered {
        top: 52%;
        font-size: 5vw;
    }

    .tutorial,
    .color-blind,
    .normal-color {
        width: 80%;
        float: none;
        margin: 0;
    }

    .color-blind, .normal-color {
        margin-bottom: 10px;
    }

    .tutorial {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    h1 {
        font-size: 25px;
    }
}